@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    select {
        padding-top: 5px;
        padding-left: 30px;
        padding-right: 30px;
        height: 50px;
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: transparent url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23FAFAFA%22%2F%3E%3Cpath%20d%3D%22M15%2021L8%2013.8571L11.5%2011H15H18.5L22%2013.8571L15%2021Z%22%20stroke%3D%22%23484848%22%2F%3E%3C%2Fsvg%3E') no-repeat;
        background-position: right 5px top 50%;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }


    h1, h2, h3 {
        font-family: var(--font-atlantic);
    }


    :root {
        --bigSize: 90px;
        --title: 42px;
        --subtitle: 34px;
        --large: 20px;
        --base: 16px;
        --textmd: 12px;
        --textsm: 8px;
        --cta: 14px;

        @media screen and (max-width: 900px) {
            --bigSize: 50px;
            --title: 20px;
            --subtitle: 24px;
            --large: 18px;
            --base: 15px;
            --textmd: 11px;
            --textsm: 7px;
            --cta: 13px;
        }
    }
}

@layer utilities {

    .gridCtn {
        @apply grid grid-cols-12 px-28 m-auto max-w-screen-desktop gap-x-10 mobile:max-w-none mobile:px-4 mobile:gap-x-0;
    }

    .text-90, h1 {
        font-size: var(--bigSize);
    }

    .text-42, h2 {
        font-size: var(--title);
    }

    .text-34, h3 {
        font-size: var(--subtitle);
    }

    .text-20 {
        font-size: var(--large);
    }

    .text-base {
        font-size: var(--base);
    }

    .text-12 {
        font-size: var(--textmd);
    }

    .text-8 {
        font-size: var(--textsm);
    }

    .text-cta {
        font-family: var(--font-robotoFlex);
        text-transform: uppercase;
        font-size: var(--cta);
        font-variation-settings: "wght" 400, /* Weight */ "GRAD" 0, /* Grade */ "slnt" 0, /* Slant */ "XTRA" 603, /* x transparent */ "XOPQ" 96, /* x opaque */ "YOPQ" 79, /* y opaque */ "YTLC" 514, /* y tailed lowercase */ "YTUC" 712, /* y tailed uppercase */ "YTAS" 750, /* y ascenders */ "YTDE" -203, /* y descenders */ "YTFI" 738; /* y finals */
    }
}